@import '../common/style/var.scss';

.wan-tabbar {
  display: flex;
  box-sizing: content-box;
  width: 100%;
  height: var(--tabbar-height, $tabbar-height);
  background-color: var(--tabbar-background-color, $tabbar-background-color);

  &--fixed {
    position: fixed;
    bottom: 0;
    left: 0;
  }

  &--safe {
    padding-bottom: var(--window-bottom);
  }
}
